@font-face {
    font-family: "KAPIZZA_";
    src: url(../assets/KAPIZZA_.TTF) ;
}

body {
  background-color: #FAFAFA;
  opacity: 60;
}



#toolbar {
  text-align: center;
  background-color: #07AA9E;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  font-family: "KAPIZZA_",  sans-serif;
  font-size: 84px;
}

.center {
  display: flex;
  justify-content: center;
}

.pizza {
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
}
.rotate {
  transition-duration: 1s;
  transition-property: transform;

}
.rotate:hover{
  transform:rotate(360deg);
}
.pizzaText {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.homepage-button {
  display: flex;
  justify-content: center;

}
