
            <div class='form'>

            <h1>Admin Stuff</h1>

          </div>
          <div class='form1'>

              <label for="whoPizza">Who is the pizza for?</label>

              <br> 
              <input type="text" name="whoPizza" ng-model="admin.who"/><br>
            </div>
            <div class='form1'>
              <label>Minutes until pizza is available to everyone</label>
              <select ng-model="admin.time">
                <option ng-repeat="time in [30, 60, 90, 120, 150, 180]">{{time}}</option>
              </select>
            </div>
            <div class='form1'>
              <label for="notes">Notes:</label><br>
              <input type="text" name="notes" ng-model="admin.notes"/><br>
            </div>
            <div class='form1'>
            <button type="submit"  ng-click="admin.test()">Submit</button>
          </div>
          <!-- <button ng-click="">Select a random person to get pizza access</button> -->








<!-- <div>
  <form name="adminForm">
    <div class="form-group">
      <label for="whoPizza">Who is the pizza for?</label>
      <input type="text" name="whoPizza" />
    </div>
    <div class="form-group">
      <label for="whenEveryone">When will the pizza be available for everyone?</label>
      <input type="text" name="whenEveryone" />
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <input type="text" name="notes" />
    </div>
    <button type="submit" ng-click="">Submit</button>
  </form>
  <button ng-click="">Select a random person to get pizza access</button>
</div> -->


<!-- <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <md-input-container>
              <label for="whoPizza">Who is the pizza for?</label>
              <input type="text" name="whoPizza" ng-model="admin.who"/>
            </md-input-container>
            <div class="form-group">
              <label for="whenEveryone">Minutes until pizza is available to everyone</label>
              <select ng-model="admin.time">
                <option ng-repeat="time in [30, 60, 90, 120, 150, 180]">{{time}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="notes">Notes:</label>
              <input type="text" name="notes" ng-model="admin.notes"/>
            </div>
            <button type="submit"  ng-click="admin.test()">Submit</button>
          <button ng-click="">Select a random person to get pizza access</button>
        </md-card-content>
      </md-card> -->
