<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Admin</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-input-container>
      <label for="whoPizza">Who is the pizza for?</label>
      <input type="text" name="whoPizza" ng-model="admin.who">
    </md-input-container>
    <div>
      <md-input-container>
        <md-select ng-model="admin.time" placeholder="Minutes until available to everyone">
          <md-option ng-value="{{minutes}}" ng-repeat="minutes in [15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180]">{{ minutes }}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="form-group" flex-gt-sm>
        <label>Notes:</label>
        <input flex type="text" name="notes" ng-model="admin.notes">
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="form-group" flex-gt-sm>
        <label>Password</label>
        <input flex type="password" name="notes" ng-model="admin.password">
      </md-input-container>
    </div>
    <md-button type="submit" class="md-raised" ng-click="admin.submit()">Submit</md-button>
  </md-card-content>
</md-card>
