<!-- <div>
  <form name="adminForm">
    <div class="form-group">
      <label for="whoPizza">Who is the pizza for?</label>
      <input type="text" name="whoPizza" />
    </div>
    <div class="form-group">
      <label for="whenEveryone">When will the pizza be available for everyone?</label>
      <input type="text" name="whenEveryone" />
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <input type="text" name="notes" />
    </div>
    <button type="submit" ng-click="">Submit</button>
  </form>
  <button ng-click="">Select a random person to get pizza access</button>
</div> -->


<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Admin</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-input-container>
      <label for="whoPizza">Who is the pizza for?</label>
      <input type="text" name="whoPizza" ng-model="admin.who">
    </md-input-container>
    <div >
      <md-input-container>
        <label >Minutes until pizza is available to everyone</label>
        <md-select ng-model="admin.time" aria-label="dropdown">
          <md-option ng-repeat="time in [30, 60, 90, 120, 150, 180]">{{time}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex>
      <md-input-container class="form-group" flex-gt-sm>
        <label>Notes:</label>
        <input flex type="text" name="notes" ng-model="admin.notes">
      </md-input-container>
    </div>
    <md-button type="submit" class="md-raised" ng-click="admin.test()">Submit</md-button>
    <md-button ng-click="" class="md-raised">Select a random person to get pizza access</md-button>
  </md-card-content>
</md-card>
