<div layout="row" layout-fill layout-align='center'>
    <md-toolbar id='toolbar'>

          <span>Who's The Pizza For?</span>

    </md-toolbar>

</div>

<div class='pizza'>
<img src="../assets/pizza.png" style="height: 400px;"> <br>
</div>

<br>

<div class="pizzaText"> The Pizza is for {{home.who}} </div>
<div class="pizzaText"> at {{home.time}} it's for anyone</div>
<div class="pizzaText">{{home.notes}}</div>



<!-- <button class="center" ng-click=""> Click Here to Sign-up </button> -->
<md-button type="submit" class="md-raised" ng-click="home.admin()">admin</md-button>
